*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #f9fbfd;
}

.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: hsl(206, 17%, 28%);
}

.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}

.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-body {
  min-height: 100px;
}

.card-footer {
  text-align: center;
}

.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

.btn {
  border: none;
  background-color: hsl(360, 91%, 36%);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

.float-right {
  float: right;
}

#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed #c0c7cf;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}

.hide {
  display: none;
}

h3 {
  margin: 10px 0;
}

/* Stlying for options toggle */
#show-options {
  display: block;
  font-size: 0.8rem;
  text-decoration: none;
  color: rgb(0, 60, 255); 
  text-align: right;
  margin-top: -25px;
  margin-bottom: 5px;
}

#show-options:hover {
  color: rgb(0, 174, 255);
}

/* Styling for form input (password length) */
.text-input input {
  min-width: 20%;
  padding: 5px;
  font-size: 18px;
  margin: 5px 0;
  border: 1px solid #333;
}

.text-input input:placeholder-shown {
  border: 1px solid #333 !important;
  background-color: transparent !important;
}

.text-input input:invalid {
  border: 1px solid rgb(250, 76, 76);;
  background-color: rgba(255, 147, 147, 0.164);
}

/* Tooltip styling */
.options {
  position: relative;
}

#tooltip {
  --bg: rgba(0, 0, 0, 0.733);
  padding: 10px 20px;
  background-color: var(--bg);
  color: white;
  font-size: 0.8rem;
  text-align: center;
  border-radius: 10px;
  width: fit-content;
  position: absolute;
  left: 50%;
  margin-left: -17.5px;
  height: 35px;
  text-align: center;
  display: none;
}

#tooltip::after {
  content: " ";
  position: absolute;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
}

#tooltip.top {
  top: -10px;
  display: block;
}

#tooltip.top::after {
  top: 100%; 
  border-color: var(--bg) transparent transparent transparent;
}

#tooltip.bottom {
  bottom: -40px;
  display: block;
}

#tooltip.bottom::after {
  bottom: 100%; 
  border-color: transparent transparent var(--bg);
}

/* Styling for checkboxes */
.checkboxes {
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-between;
}

.checkbox {
  flex: 1 1 150px;
  white-space: nowrap;
}

/* Stlying for popup dialog */
#popup {
  visibility: hidden;
  min-width: 250px; 
  margin-left: -125px; 
  background-color: #333;
  color: #fff; 
  text-align: center; 
  border-radius: 5px; 
  padding: 16px; 
  position: fixed; 
  z-index: 1; 
  left: 50%; 
  bottom: 30px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

#popup.show {
  visibility: visible;
  opacity: 0.8;
  transition: all 0.7s ease-in-out;
}

@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}
